

<html>
	<head>
	
		<link rel="stylesheet" href="style.css">
        <title>Listar videos</title>
        
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<style rel="stylesheet" type="text/css">
			* {
				font-family: sans-serif;
			}
			.video {
				width: 350px;
				display: inline-block;
				margin: 15px;
				vertical-align: top;
			}
		</style>
		
		
		
		<script type="text/javascript" src="lib/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="lib/json2.js"></script>
		<script type="text/javascript" src="lib/underscore-min.js"></script>
		<script type="text/javascript" src="lib/backbone.js"></script>
		
		
		<script type="text/javascript" src="./js/views/crearView.js"></script>
        <script type="text/javascript" src="./js/views/editarView.js"></script>
        <script type="text/javascript" src="./js/views/listaView.js"></script>
        <script type="text/javascript" src="./js/views/verView.js"></script>
        
		<script type="text/javascript" src="program.js"></script>   
		
        
        <script type="text/javascript" src="./js/delegate/videoDelegate.js"></script>
	
        
	</head>
	
    <body>
    
	    <header>
	            <hgroup>
	                <h1>videos</h1>
	                <h2>Listar videos</h2>	
	          </hgroup>
	     </header>
	     
		   <div id="container"></div>	
		    
		   <input type="button" value="subir video" id="registrarVideo" />
		   
		  <!--   <textarea id="unVideo" style="display:none">
					<h2>'<%= video.name %>'</h2>
					<div class="video-player">
						<object width="320" height="240">
							<embed src="http://www.youtube.com/v/<%= video.url %>?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="320" height="240" allowscriptaccess="always" allowfullscreen="true"></embed>
						</object>
		                </div>
					<div class="video-list-description"><%= video.description %></div>
		         
		            <input type="button" value="editar" id="editarVideo" />	
		            <input type="button" value="eliminar" id="eliminarVideo" />		
			</textarea>    
			
			<textarea id="listaVideos" style="display:none">
					<div id="videolistacontenedor"/>
			</textarea>      -->
			
			
			
		<div class="opciones" id="opcionesContainer"></div>
        
        
       
			
			
	</body>
</html> 