<div id="listaView">

		<input type="text" placeholder="Evento" id="event"/>
	    <br>
	    <input type="text" placeholder="Nombre" id="name"/>
	    <br>
	    <input type="url" placeholder="Url" id="url"/>
	    <br>	
    
     <div id="container"></div>	
    
   <input type="button" value="subir video" id="registrarVideo" />
   
   <textarea id="unVideo" style="display:none">
			<h2>'<%= video.name %>'</h2>
			<div class="video-player">
				<object width="320" height="240">
					<embed src="http://www.youtube.com/v/<%= video.url %>?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="320" height="240" allowscriptaccess="always" allowfullscreen="true"></embed>
				</object>
                </div>
			<div class="video-list-description"><%= video.description %></div>
         
            <input type="button" value="editar" id="editarVideo" />	
            <input type="button" value="eliminar" id="eliminarVideo" />		
	</textarea>    
	
	<textarea id="listaVideos" style="display:none">
			<div id="videolistacontenedor"/>
	</textarea> 
    
</div>

<div id="crearView">
		<input type="text" placeholder="Evento" id="event"/>
	    <br>
	    <input type="text" placeholder="Nombre" id="name"/>
	    <br>
	    <input type="url" placeholder="Url" id="url"/>
	    <br>
	    <input type="button" value="subir" id="subirVideo" />
	    <input type="button" value="cancelar" id="cancel" />
</div>

<div id="verView">

	<input type="button" value="editar" id="editarVideo" />
	<input type="button" value="eliminar" id="eliminarVideo" />
	<input type="button" value="volver" id="cancel" />
	
	<div id="resultText">
   cargar los elementos registrados sin poderlos modificar
     
	</div>
</div>

<div id="editarView">

		<input type="button" value="actualizar" id="actualizarVideo" />
	    <input type="button" value="cancelar" id="cancel" />

	<div id="resultText">
    cargar los elementos registrados para modificarlos 
    
	</div>
</div>
